li{
  color: #000;
  list-style: none;
  border: #000 solid 1px;
  padding: 1px 3px
}

ul{
  padding-inline-start: 2px;
}


.container{
  display: flex;
  width: 99vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titulo{
  color: #ede500;
  font-size: 4.5rem;
  text-decoration: underline;
  text-align: center;
}

.cont_botoes{
  display: flex;
  justify-content: space-around;
  height: 80px;
}

.botao{
  background-color: #e6e6e6;
  padding: 30px 24px;
  box-shadow: 1px 2px #000;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plantel{
  background-color: #f8f8f8;
  width: 96%;
}

.info_time{
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.info_position{
  width: 100%;
  margin-bottom: 37px
}

.info_time_1{
  display: flex;
  flex-direction: column;
  flex: 2;
}

.info_time_2{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.resultado_busca{
  color: #ede500;
  font-weight: 700;
  margin-bottom: 20px
}

.infos{
  color: #fff;
  margin: 3px;
}

.infos_time{
  color: #000;
  background-color: #fff;
  padding: 1px 20px 2px 4px;
  display: inline;
}

.tabelas{
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  margin-top: 33px
}

.searching{
  background-color: red;
}

.textYellow{
  font-size: 14px;
  color: #ede500;
}

.containerMenu{
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 742px;
  height: 580px;
  justify-content: space-between;
}

.containerPartida{
  display: flex;
  flex-direction: column;
  width: 1350px;
}

.jogos{
  display: flex;
  justify-content: space-between;
  width: 360px
}